.clear {clear: both;}
.wrapper {
	width: 100%;
}

#primary {
	#sidebar {
		width: $size__main-sidebar;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.main-footer.wrapper {
		width: 100%-$size__main-sidebar;
		margin: 0 0 0 auto;
		padding: 0;
		#main {
			
		}
		#colophon {
			
		}
	}
}