a {
	text-decoration: none;
	color:inherit;
    &:hover {
        color: $color__belle-dark-blue;
    }
}
body {
	font-size: $font__size-medium;
	color: $color__belle-dark-grey;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.clear {clear: both;}
.clear-bottom {
	&:after {
		clear:both;
		display: block;
		content: "";
	}
}
.wrapper {
	width: 100%;
}
.copy {
    p {
        font-size: $font__size-medium-small;
        margin: $size__margin-medium-small 0;
    }
	p:first-child {
		padding-top:0;
		margin-top: 0;
	}
	p:last-child {
		padding-bottom:0;
		margin-bottom: 0;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Arapey', serif;
	font-weight: normal;
    margin: $size__margin-medium 0;
	&:first-child {
		padding-top:0;
		margin-top: 0;
	}
	&:last-child {
		padding-bottom:0;
		margin-bottom: 0;
	}
}
#primary {
	#main-sidebar {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: $font__size-medium-large;
		line-height: 1.2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: nowrap;
		font-family: 'Arapey', serif;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
			width: $size__main-sidebar;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			text-align: center;
		}
	}
	#main {
		width: 100%;
		margin: 0;
		padding: 0;
		@media screen and (min-width: $mobilelandscapewidth){
			width: 100%-$size__main-sidebar;
			margin: 0 0 0 auto;
        }
        .our-team, .page-template, .the-belle-difference, .property-search, .sitemap {
            .row-1 {
                padding: $size__margin-medium-medium-large;
                background-color: $color__belle-light-grey;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding: 7% 6% 4% 6%;
                }
                header {
                    h1 {
                        margin: 0 0 $size__margin-medium 0;
                        font-size: $font__size-extra-large;
                        color: $color__belle-orange;
                    }
                }
                .copy {
                }
            }
        }
        .living-here {
            .row-1 {
                padding: $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium $size__margin-medium-medium-large;
                background-color: $color__belle-light-grey;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding: 7% 6% $size__margin-medium 6%;
                }
                header {
                    h1 {
                        margin: 0 0 $size__margin-medium 0;
                        font-size: $font__size-extra-large;
                        color: $color__belle-orange;
                    }
                }
                .copy {
                }
            }
            
        }
	}
}
