#main-sidebar {
	.logo.wrapper {
        position: relative;
        width: 15%;
        margin: $size__margin-tiny $size__margin-medium;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 38%;
            margin: $size__margin-medium-medium-large auto $size__margin-medium-large auto;
        }
        .logo {
            width: 100%;
            display: block;
        }
        a.surrounding {
            height: 100%;
            z-index: 1;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 1;
        }
	}
	.mobile.bars {
		flex: 0 0 auto;
		font-size: $font__size-bars;
		margin: $size__margin-tiny $size__margin-medium;
		@media screen and (min-width: $mobilelandscapewidth){
			display: none;
		}
		&:hover {
            color: $color__belle-dark-blue;
        }
	}
	nav.primary {
		display: none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;	
			ul {
				margin: 0;
				padding: 0;
				li {
					margin: $size__margin-medium-small 0;
					list-style-type: none;
				}
			}
		}
	}
	.separator {
		display:none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
			background-color: $color__belle-light-blue;
			height: 2px;
			width: 70px;
			margin: $size__margin-medium-small auto;
			padding: 0;
		}
	}
	.info {
		display: none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
            font-size: $font__size-medium;
			> * {
				margin: $size__margin-medium-small 0;
			}
			.email {
				span {
					display: inline-block;
				}
			}
		}
	}
	.social {
		display: none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
			ul {
				margin: 0 0 $size__margin-medium-small 0;
				padding: 0;
				li {
					margin: $size__margin-medium-small 0;
					list-style-type: none;
					display: inline-block;
					margin: 0 0 0 $size__margin-small;
					font-size: $font__size-social;
					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
}
#mobile-menu {
	display: block;
	position: fixed;
    width: 50%;
	right: -50%;
    height: 100%;
	top: 0;
    z-index: 1;
    overflow-y: scroll;
	background-color: white;
    text-align: center;
    @media screen and (min-width: $mobilelandscapewidth){
        display: none;
    }
    .mobile-bars {
        text-align: left;
        font-size: $font__size-bars;
        margin: $size__margin-medium-small;
        padding: 0;
        &:hover {
            color: $color__belle-dark-blue;
        }
    }
    nav.mobile-primary {
        display: block;	
        ul {
            margin: 0;
            padding: 0;
            li {
                margin: $size__margin-medium-small 0;
                list-style-type: none;
            }
        }
    }
    .mobile-social {
        display: block;
        ul {
            margin: 0 0 $size__margin-medium-small 0;
            padding: 0;
            li {
                margin: $size__margin-medium-small 0;
                list-style-type: none;
                display: inline-block;
                margin: 0 0 0 $size__margin-small;
                font-size: $font__size-social;
                &:first-child {
                    margin: 0;
                }
            }
        }
    }
}

