#main-sidebar.clear-bottom {
	.logo {
		width: 10%;
		float: left;
		display: block;
		@media screen and (min-width: $mobilelandscapewidth){
			width: 40%;
			float: none;
			margin: $size__margin-medium-large auto;
		}
	}
	nav.primary {
		display: none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: $size__margin-medium-small 0;
				list-style-type: none;
			}
		}
	}
	.info {
		display: none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
		}
		> * {
			margin: $size__margin-medium-small 0;
		}
	}
	.social {
		display: none;
		@media screen and (min-width: $mobilelandscapewidth){
			display: block;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: $size__margin-medium-small 0;
				list-style-type: none;
				display: inline-block;
				margin: 0 0 0 $size__margin-small;
				&:first-child {
					margin: 0;
				}
			}
		}
	}
	.mobile {
		display: block;
		position: fixed;
		right: -100%;
		top: 0;
		@media screen and (min-width: $mobilelandscapewidth){
			display: none;
		}
	}
}

