article {
	margin: 0;
	padding: 0;
	/*
	 * Index Template specific
	 */
	&.index {
		.featured-image {
			width: 100%;
			display: block;
		}
		.row-1 {
			color: white;
			background-color: $color__belle-orange;
			padding: $size__margin-medium-medium-large $size__margin-medium-medium-large;
			margin: 0;
			@media screen and (min-width: $mobilelandscapewidth){
				padding: $size__margin-medium-medium-large 6%;
			}
			header {
				line-height: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				flex-wrap: nowrap;
				margin: 0 0 $size__margin-medium-small 0;
				h1 {
					margin: 0;
					padding: 0;
					flex: 0 1 auto;
                    color: white;
					font-size: $font__size-extra-extra-large;
				}
				&:after {
					margin: 0;
					padding: 0;
					content: "";
					display: block;
					height: 2px;
					background-color: white;
					flex: 1 1 auto;
					@media screen and (min-width: $mobilelandscapewidth){
						margin: $size__margin-small 0 0 $size__margin-medium;
					}
				}
			}
			.copy {
				font-size: $font__size-medium-large;
				margin: $size__margin-medium-small 0 0 0;
			}
		}
		.row-2 {
			background-color: $color__belle-light-grey;
            display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
            flex-wrap: wrap;
            @media screen and (min-width: $deskwidth){
				flex-wrap: nowrap;
            }
            img {
                flex: 0 1 auto;
				width: 100%;
                display: block;
				@media screen and (min-width: $deskwidth){
					width: $size__index-row-2-image;
                }
			}
			.copy {
				line-height: 1.2;
				width: 100%;
                display: block;
                flex: 0 1 auto;
				padding: 0 $size__margin-medium-medium-large;
				@media screen and (min-width: $mobilelandscapewidth){
					padding: 0 6%;
				}
				@media screen and (min-width: $deskwidth){
					width: 100%-$size__index-row-2-image;
				}
				header {
					padding-top: $size__margin-medium-medium-large;
                    margin: 0 0 $size__margin-medium 0;
                    @media screen and (min-width: $mobilelandscapewidth){
                        padding-top: 9%;
                    }
                    @media screen and (min-width: $deskwidth){
                        padding-top: 25%;
                    }
					h2 {
						font-size: $font__size-large;
						margin: 0;
						color: $color__belle-dark-blue;
					}
				}
				p {
					font-size: $font__size-medium-medium-large;
				}
				.link.full-article {	
					font-size: $font__size-medium-small;
					color: $color__belle-dark-blue;
					text-transform: uppercase;
					margin: $size__margin-medium 0 0 0;
                    padding-bottom: $size__margin-medium-medium-large;
                    @media screen and (min-width: $mobilelandscapewidth){
                        padding-bottom: 9%;
                    }
                    @media screen and (min-width: $deskwidth){
                        padding-bottom: 25%;
                    }
				}
			}
		}
		.row-3 {
            padding: $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-medium-grey;
            @media screen and (min-width: $mobilelandscapewidth){
				padding: 7% 6%;
			}
        }
		.row-4 {
            padding: $size__margin-medium-medium-large $size__margin-medium-medium-large 0 $size__margin-medium-medium-large;
            display: flex;
			justify-content: center;
			align-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			background-color: $color__belle-light-grey;
			@media screen and (min-width: $mobilelandscapewidth){
				padding: 6% 6% 0 6%;
                flex-wrap: nowrap;
			}
            .facebook-feed {
                order: 1;
                width: 100%;
                flex: 0 1 auto;
                padding: 0 0 $size__margin-small 0;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 50%;
                    padding: 0 13px 0 0;
                }
                h3 {
                    font-size: $font__size-medium-large-large;
                    background-color: $color__belle-dark-blue;
                    padding: $size__margin-small $size__margin-medium-large;
                    color: white;
                    margin: 0;
                    .fa {display: none;}
                }
                .cff-page-name.cff-author-date {
                    color: $color__belle-dark-blue;
                }
                .cff-text {
                    font-size: $font__size-small;
                    color: $color__belle-dark-grey;
                }
            }
            .testimonial {
                order: 2;
                width: 100%;
                flex: 0 1 auto;
                text-align: center;
                padding: $size__margin-small 0 0 0;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 50%;
                    padding: 0 0 0 13px;
                }
                .quote.wrapper {
                    background-color: $color__belle-dark-blue;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    blockquote {
                        color: white;
                        flex: 0 0 auto;
                        width: 80%;
                        margin: 0 auto;
                        font-weight: 500;
                        font-size: $font__size-medium-small;
                        line-height: 1.2;
                    }
                }
            }
        }
        .row-5 {
            padding: $size__margin-medium $size__margin-medium-medium-large 0 $size__margin-medium-medium-large;
            display: flex;
			justify-content: center;
			align-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
				padding: $size__margin-medium 6% 0 6%;
                flex-wrap: nowrap;
			}
			.hashtag {
                width: 100%;
                text-align: center;
                background-color: $color__belle-orange;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                font-family: 'Arapey', serif;
                font-weight: normal;
                font-size: $font__size-large;
                text-transform:lowercase;
                word-break: normal;
                color: white;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 35%;
                    font-size: $font__size-small;
                }
                @media screen and (min-width: $tabwidth){
                    font-size: $font__size-medium;
                }
                @media screen and (min-width: $midwidth){
                    font-size: 24px;
                }
                @media screen and (min-width: $deskwidth){
                    font-size: $font__size-large;
                }
            }
            .instagram-feed {
                display: block;
                width: 100%;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 65%;
                }
                #sbi_load {
                    padding: 0 !important;
                }
                .sbi_photo_wrap {
                    padding-left: $size__margin-small;
                }
            }
        }
        footer {
            padding: $size__margin-medium $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $size__margin-medium 6% 7% 6%;
			}
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                text-align: right;
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    display: block;
                    margin: 0 0 0 $size__margin-small;
                    padding: 0 0 0 $size__margin-small;
                    list-style-type: none;
                    line-height: 1;
                    border-left: solid 1px $color__belle-dark-grey;
                    font-size: $font__size-small;
                    &:first-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
	}
	/*
	 * Living here template specific
	 */
	&.living-here {
        .row-2 {
            padding: 0 $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 5% 0 6%;
            }
            header {
                h2 {
                    padding: 0 0 $size__margin-medium 0;
                    color: $color__belle-dark-blue;
					font-size: $font__size-large;
                }
            }
            .neighborhood-group {
                width: 100%;
                margin: 0 0 $size__margin-medium-small 0;
                @media screen and (min-width: $mobileportraitwidth){
                    width: (100%-($size__living-here-margin*2))/2;
                    margin: 0 $size__living-here-margin $size__living-here-margin 0;
                    min-width: 180px;
                }
                @media screen and (min-width: $midwidth){
                    width: (100%-($size__living-here-margin*$size__living-here-span))/$size__living-here-span;
                }
                img {
                    width: 100%;
                    display: block;
                    margin: 0 0 8px 0;
                    padding: 0;
                }   
                .copy.description {
                    width: 100%;
                    text-align: center;
                    border-top: 2px solid $color__belle-light-blue;
                    border-bottom: 2px solid $color__belle-light-blue;
                    background-color: $color__belle-medium-grey;
                    padding: $size__margin-medium $size__margin-medium-medium-large;
                }
                .neighborhoods.copy {
                    width: 100%;
                    text-align: center;
                    background-color: $color__belle-medium-grey;
                    color: $color__belle-dark-blue;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: $size__margin-medium-large 0;
                    p {
                        margin: 0;
                        padding: 0 0 $size__margin-small 0;
                        &:last-child {
                            padding: 0;
                        }
                    }
                }
            }
        }
        footer {
            padding: $size__margin-medium-small $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $size__margin-medium-small 6% $size__margin-medium-medium-large 6%;
			}
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                text-align: right;
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    display: block;
                    margin: 0 0 0 $size__margin-small;
                    padding: 0 0 0 $size__margin-small;
                    list-style-type: none;
                    line-height: 1;
                    border-left: solid 1px $color__belle-dark-grey;
                    font-size: $font__size-small;
                    &:first-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
	}
	/*
	 * The Belle Difference template specific
	 */
	&.the-belle-difference {
		.row-2 {
			background-color: $color__belle-light-grey;
            display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
            flex-wrap: wrap;
            @media screen and (min-width: $deskwidth){
				flex-wrap: nowrap;
                align-items: stretch;
            }
            img {
                flex: 0 1 auto;
				width: 100%;
                display: block;
				@media screen and (min-width: $deskwidth){
					width: $size__belle-diff-row-2-image;
                }
			}
			.testimonial {
                order: 2;
                width: 100%;
                flex: 0 1 auto;
                text-align: center;
                padding: 0;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 100%-$size__belle-diff-row-2-image;
                    padding: 0;
                }
                .quote.wrapper {
                    background-color: $color__belle-dark-blue;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    blockquote {
                        color: white;
                        flex: 0 0 auto;
                        width: 80%;
                        margin: 0 auto;
                        font-weight: 500;
                        font-size: $font__size-medium-small;
                        line-height: 1.2;
                    }
                }
            }
		}
		.row-3 {
            padding: $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 4% 6% 4% 6%;
            }
            header {
                h1 {
                    padding: 0 0 $size__margin-medium 0;
                    font-size: $font__size-extra-large;
                    color: $color__belle-dark-blue;
                }
            }
            .copy {
            }
        }
		.row-4 {
            padding: $size__margin-medium-medium-large;
            background-color: $color__belle-orange;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 6% 6% 6% 6%;
            }
            .copy p {
                width: 77%;
                margin-left: auto;
                margin-right: auto;
                color: white;
                font-size: $font__size-medium-large-large-large;
                text-align: center;
                font-family: 'Arapey', serif;
                font-weight: normal;
            }
        }
        footer {
            padding: $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $size__margin-medium-medium-large 6% $size__margin-medium-medium-large 6%;
			}
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                text-align: right;
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    display: block;
                    margin: 0 0 0 $size__margin-small;
                    padding: 0 0 0 $size__margin-small;
                    list-style-type: none;
                    line-height: 1;
                    border-left: solid 1px $color__belle-dark-grey;
                    font-size: $font__size-small;
                    &:first-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
	}
	/*
     * Page Template Specific
     */
    &.page-template {
		.row-2 {
            padding: $size__margin-medium-medium-large;
            background-color: $color__belle-orange;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 6% 6% 6% 6%;
            }
            .copy p {
                width: 77%;
                margin-left: auto;
                margin-right: auto;
                color: white;
                font-size: $font__size-medium-large-large-large;
                text-align: center;
                font-family: 'Arapey', serif;
                font-weight: normal;
            }
        }
        footer {
            padding: $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $size__margin-medium-medium-large 6% $size__margin-medium-medium-large 6%;
			}
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                text-align: right;
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    display: block;
                    margin: 0 0 0 $size__margin-small;
                    padding: 0 0 0 $size__margin-small;
                    list-style-type: none;
                    line-height: 1;
                    border-left: solid 1px $color__belle-dark-grey;
                    font-size: $font__size-small;
                    &:first-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
    }
    /*
     * Featured Listing Specific
     */
    &.featured-listing {
        .row-2 {
        }
    }
    /*
     * Sitemap Specific
     */
    &.sitemap {
        .row-2 {
            ul {
                margin: 0;
                pading: 0;
                li {
                }
            }
        }
    }
    /*
     * Property Search Specific
     */
    &.property-search {
        .row-2 {
            .widget.idxqs{
                h2 {
                    color: $color__belle-dark-blue;
					font-size: $font__size-large;
                }
                form {
                    select,input {
                        margin: $size__margin-small 0;
                    }
                    input[type="checkbox"] {
                        margin: $size__margin-tiny 0;
                    }
                }
            }
        }
    }
    /*
     * Property Search/Sitemap Mutual
     */
    &.property-search, &.sitemap, &.featured-listing {
		 .row-2 {
            padding: 0 $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 6% 6% 6%;
            }
         }
        .row-3 {
            padding: $size__margin-medium-medium-large;
            background-color: $color__belle-orange;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 6% 6% 6% 6%;
            }
            .copy p {
                width: 77%;
                margin-left: auto;
                margin-right: auto;
                color: white;
                font-size: $font__size-medium-large-large-large;
                text-align: center;
                font-family: 'Arapey', serif;
                font-weight: normal;
            }
        }
        footer {
            padding: $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $size__margin-medium-medium-large 6% $size__margin-medium-medium-large 6%;
			}
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                text-align: right;
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    display: block;
                    margin: 0 0 0 $size__margin-small;
                    padding: 0 0 0 $size__margin-small;
                    list-style-type: none;
                    line-height: 1;
                    border-left: solid 1px $color__belle-dark-grey;
                    font-size: $font__size-small;
                    &:first-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
    }
	/*
	 * Our Team template specific
	 */
	&.our-team {
        .relator {
            header {
                background-color: $color__belle-light-grey;
                border-top: 2px solid $color__belle-light-blue;
                border-bottom: 2px solid $color__belle-light-blue;
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                color: $color__belle-dark-blue;
                padding: $size__margin-medium $size__margin-medium-medium-large;
                @media screen and (min-width: $mobilelandscapewidth){
                   padding: $size__margin-medium 6%;
                }
                h2 {
                    margin: 0;
                }
                .info {
                    text-transform: uppercase;
                    font-size: $font__size-medium-small;
                    font-weight: 500;
                    span {
                        border-left: 1px solid $color__belle-dark-blue;
                        padding: 0 0 0 $size__margin-small;
                        margin: 0 0 0 $size__margin-small;
                        &:first-child {
                            border: none;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
            .photo-copy.wrapper {
                background-color: $color__belle-medium-grey;
                img {
                    margin: 0 $size__margin-medium-medium-large $size__margin-medium-medium-large 0;
                    float: left;
                    width: 30%;
                    @media screen and (min-width: $mobilelandscapewidth){
                        margin: 0 4% 4% 0;
                    }
                }
                .copy {
                    padding: $size__margin-medium-medium-large;
                    @media screen and (min-width: $mobilelandscapewidth){
                        padding: 6%;
                    }
                }
            }
        }
        footer {
            padding: $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large $size__margin-medium-medium-large;
            background-color: $color__belle-light-grey;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $size__margin-medium-medium-large 6% $size__margin-medium-medium-large 6%;
			}
            ul {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                text-align: right;
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                li {
                    display: block;
                    margin: 0 0 0 $size__margin-small;
                    padding: 0 0 0 $size__margin-small;
                    list-style-type: none;
                    line-height: 1;
                    border-left: solid 1px $color__belle-dark-grey;
                    font-size: $font__size-small;
                    &:first-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
	}
}
