$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-small: 14px;
$font__size-medium-small-small: 15px;
$font__size-medium-small: 16px;
$font__size-medium: 18px;
$font__size-medium-medium-large: 19px;
$font__size-medium-large: 20px;
$font__size-medium-large-large: 24px;
$font__size-large: 28px;
$font__size-extra-large: 30px;
$font__size-extra-extra-large: 42px;
$font__size-social: 25px;
$font__size-bars: 25px;
