$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-small: 14px;
$font__size-medium-small: 18px;
$font__size-medium: 21px;
$font__size-medium-large: 22px;
$font__size-large: 32px;
$font__size-extra-large: 50px;